home/.ssh/
PUSH_TO_GITHUB.md
SSH_SETUP.md

# Cache, Logs, and History
home/.npm/
home/.viminfo
home/.z
home/.zfm.txt
home/.profile.tmp

# Local private configurations
home/.zshrc.local
home/.vimrc.local
home/.nvimrc.local

# Bash (Not used)
home/.bash*

# Generated / Unnecessary Configs
home/.config/starship.toml.backup
home/.config/starship-clean.toml
home/.config/user-dirs.dirs
home/.config/user-dirs.locale
home/.config/kdeglobals
home/.config/mimeapps.list
home/.config/pavucontrol.ini

# Zimfw (Managed by .zimrc)
home/.zim/