animations {
    slowdown 0.9
    workspace-switch {
        spring damping-ratio=0.82 stiffness=400 epsilon=0.0001
    }
    horizontal-view-movement {
        spring damping-ratio=0.84 stiffness=400 epsilon=0.0001
    }
}
